<?xml version='1.0' encoding='utf-8'?>
<config><window_x>112</window_x><window_y>97</window_y><window_width>1600</window_width><window_height>960</window_height><last_image_dir>D:\Documents\Programming\PythonCode\_PySide\animators_pal</last_image_dir><last_video_dir>D:\Documents\Programming\PythonCode\_PySide\animators_pal</last_video_dir></config>